#game-container {
    display: grid;
    grid-template-rows: 600px 1fr;
    gap: 20px;
}
#game-grid {
    display: grid;
    height: 600px;
    width: 600px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 2px solid black;
    transform-origin: top left;
    margin: auto;
}
#game-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: flex; */
    /* width: 60%; */
    /* margin: auto; */
    /* grid-template-columns: 1fr 1fr; */
}