.grid-cell {
    user-select: none;
    background-color: hotpink;
    border: 1px solid black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    font-size: 2em;

}

.locked {
    font-weight: bold;
}

.editable {
    cursor: pointer;
}

.left {
    border-left: 2px solid black;
}
.right {
    border-right: 2px solid black;
}
.top {
    border-top: 2px solid black;
}
.bottom {
    border-bottom: 2px solid black;
}