.load-game-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 5px 20px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
}

.load-game-item:hover {
    background-color: lightgrey;
}

.load-game-item>span {
    user-select: none;
    margin-right: 20px;
}

.delete {
    background: firebrick;
    border-radius: 0px;
    color: white;
    user-select: none;
}

.delete:hover {
    background: crimson;
}

.delete:active {
    background-color: black;
}