.image {
    /* width: 200px;
    height: 200px; */
    width: 40%;
    max-width: 200px;
    border: 3px lightblue solid;
    border-radius: 5px;
    padding: 0;
}

.overlaid {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

.uploader {
    cursor: pointer;
}

.on-droppable {
    border: 6px maroon solid;
}

#processed-preview {
    display: none;
    z-index: 99;
    width: 100%;
    height: 100%;
}

#processed_container {
    display: none;
}


#processed-pic {
    display: none;
    z-index: 90;
    width: 100%;
    height: 100%;
}

#upload-images-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 20px;
    align-items: flex-start;
}

#upload-images-container > div {
    position: relative;
    width: 40%;
    height: 100%;
    max-width: 200px;
    padding: 0px;
}

#validate-upload {
    width: 60%;
    margin: auto;
}

#validate-upload:disabled {
    background-color: firebrick;
    color: white;
    cursor: not-allowed;
}

#upload-grid-container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    /* width: 80%; */
    margin: auto;
}