html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#cow-container {
    position: absolute;
    bottom: -1000px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    transition-timing-function: ease;
    transition: bottom 2s;
    max-width: 800px;
}

.cow-animation {
    width: 100%;
    height: auto;
    position: relative;
    grid-column: 1 / span 12;
    grid-row: 1 / span 12; 
}

#cow {
    transition-timing-function: ease;
}

#speech-bubble {
    visibility: hidden;
}

.cow-speech {
    width: 100%;
    /* max-width: ; */
    position: relative;
    color: darkorange;
    font-size: 1.5em;
    font-weight: 800;
    line-height: 1.8em;
    margin: 0;
    transition-timing-function: ease;
    opacity: 0;
    z-index: 9;
}

#setup {
    grid-column: 5 / span 6;
    grid-row: 1 / span 3; 
    padding-top: 40px; 
    visibility: hidden;
}

#punchline {
    grid-column: 6 / span 6;
    grid-row: 3 / span 3;
    padding-top: 45px; 
    text-align: right;
    visibility: hidden;
}



.fade-in {
    opacity: 1;
    transition: opacity 0s linear 2s, opacity 2000ms;
}

.fade-out {
    opacity: 0;
    transition: opacity 0s linear 2s, opacity 2500ms;
}

