body {
    background-image: url("../images/cow_pattern_.png");
}

.cow-animation {
    width: 100%;
    height: auto;
}

#cow {
    transition-timing-function: ease;
}

#cow-container {
    position: absolute;
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: hotpink;
    border: none;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: dodgerblue;
}