.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0px;
}

#main_container {
  width: 80%;
  padding: 30px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
  height: 100vh;
}

#main-container {
  display: flex;
  align-items: center;
  justify-content: center
}

#listen_button {
  left: -100px;
  top: 10px;
  position: absolute;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  font-size: 20px;
  background-color: lightskyblue;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

#listen_button:hover {
  background-color: dodgerblue;
  color: white;
}

#listen_button> div {
  left: 55%;
  position: relative;
  border-radius: 100px;
  width: 90px;
  text-align: left;
  font-weight: 900
}